<% content_for :left_nav do %>
<ul>
	<li><a href="http://championships.ussailing.org/Assets/Championships/USTRC/2010/2010NOR.pdf" target="_blank">NOR</a></li>
	<li><a href="https://www.regattanetwork.com/clubmgmt/applet_registration_form.php?regatta_id=2969" target="_blank">Event Application</a></li>
	<li><a href="/venue">The venue</a></li>
	<li><a href="/boatsales">Event boat sales</a></li>
</ul>
<% end %>

<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/>
	</div>
	<strong><h3>Event Boat Sales</h3></strong><br/><br/>
	Used for just the Hinman Trophy.  Brand new, never used sails and a Seitech Dolly
	<br/><br/>
	Hinman Event Boat w/dolly<br/>
	$7,120 complete (free freight)

	<br/><br/>
	For more information and to order yours contact <a href="http://www.westcoastsailing.net" target="_blank">West Coast Sailing</a>
	<br/>