<% content_for :left_nav do %>
<ul>
	<li><a href="/travel">Travel Home</li>
		<li><a href="/hotels">Hotels</li>
	<li><a href="/parking">Parking</li>
</ul>
<% end %>

	<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/>
</div>	
		<strong><h3>Hotels</h3></strong><br/><br/>
		We've worked with the <a href="http://www.marriott.com/hotels/travel/seacd-courtyard-seattle-downtown-lake-union/" target="blank">Marriott Courtyard</a> across the street from the event venue for $89/night rooms. Call up the Marriott to reserve your rooms and tell them you're in town for the Hinman and they'll take care of your rate. Limited to 30 rooms total so call up to reserve yours now.<br/>