<% content_for :left_nav do %>
<ul>
	<li><a href="http://championships.ussailing.org/Assets/Championships/USTRC/2010/2010NOR.pdf" target="_blank">NOR</a></li>
	<li><a href="http://championships.ussailing.org/Assets/Championships/USTRC/2010/Preliminary+SI.pdf" target="_blank">Preliminary SIs</a></li>
	<li><a href="/venue">The Venue</a></li>
	<li><a href="/boatsales">Event Boat Sales</a></li>
</ul>
<% end %>

<div style="float:left; clear:none; width:300px;">
	<strong><h3>U.S Team Racing Championship 2010</h3></strong><br/><br/>
	<div id="sycburgee">
			<img src="images/lake-union.jpg"/><br/><br/>
			<a href="http://www.seattleyachtclub.org" target="blank">Seattle Yacht Club</a><br/>
			September 30 - October 3, 2010
	</div>
<br/>
Venue: <a href="http://www.cwb.org/" target="blank">Center for Wooden Boats</a> <br/>
More information: <a href="mailto:hinman2010@gmail.com">Contact Us</a> <br/>
<br/>
</div>

<div style="float:right; clear:none; padding-right:0px;">
<fb:like-box profile_id="154033821274122" width="310"></fb:like-box>

<% content_for :javascript do %>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId  : '154033821274122',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });

  FB.Event.subscribe('auth.sessionChange', function(response) {
    console.log('firing sessionChange');
    window.location.reload();
  });

};

(function() {
  var s = document.createElement('div'); 
  s.setAttribute('id','fb-root'); 
  document.documentElement.getElementsByTagName("body")[0].appendChild(s);
  var e = document.createElement('script');
  e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
  e.async = true;
  s.appendChild(e);
  }());
</script>
<% end %>
</div>
