<% content_for :left_nav do %>
<ul>
	<li><a href="http://championships.ussailing.org/Assets/Championships/USTRC/2010/2010NOR.pdf" target="_blank">NOR</a></li>
	<li><a href="https://www.regattanetwork.com/clubmgmt/applet_registration_form.php?regatta_id=2969" target="_blank">Event Application</a></li>
	<li><a href="/venue">The venue</a></li>
	<li><a href="/boatsales">Event boat sales</a></li>
</ul>
<div style="padding:20px 0px 0px 40px;">
<img src="images/SYCBurgeeTransp.png"/><br/><br/>
<a href="http://www.seattleyachtclub.org" target="blank">Seattle Yacht Club</a><br/>
September 30 - <br/>October 3, 2010
</div>
<% end %>

<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/>
	</div>
	<strong><h3>U.S Team Racing Championship 2010</h3></strong><br/><br/>
	<div id="sycburgee">
			<img src="images/lake-union.jpg"/><br/><br/>
			<a href="http://www.seattleyachtclub.org" target="blank">Seattle Yacht Club</a><br/>
			September 30 - October 3, 2010
	</div>
<br/>
Venue: <a href="http://www.cwb.org/" target="blank">Center for Wooden Boats</a> <br/>
More information: <a href="mailto:hinman2010@gmail.com">Contact Us</a> <br/>
<br/>
<!-- <fb:like-box profile_id="154033821274122" width="425"></fb:like-box> -->