<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>2010 US Team Racing Championship</title>
<link href="css/PageTypes.css" rel="stylesheet" type="text/css" />
<link href="css/default.css" rel="stylesheet" type="text/css" />
<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
</head>

<body class="level2">

<div id="wrapper">

	<div id="header" class="clear">		
		<div id="logo">
		  <p><a href="http://home.ussailing.org/home.htm"><img src="images/TRlogo.gif" alt="US Sailing Team Racing" border="0" /></a></p>
			
	  </div>
		
		
		<div id="headerlinks">			
			<ul>
				<li><a title="US SAILING Home" href="http://www.ussailing.org">US SAILING Home</a> |</li>
				<li><a title="Membership" href="http://membership.ussailing.org/">Join US SAILING</a>|</li>
				<li><a title="US SAILING Donations" href="http://donations.ussailing.org/US_SAILING_Donations.htm">Donate</a>|</li>
				<li><a title="US SAILING Media Page" href="http://media.ussailing.org/US_SAILING_Media.htm">Media</a> |</li>
				<li><a href="http://www.ussailing.org/Calendar/">Calendar</a>|</li>
				<li><a href="http://store.ussailing.org/">Store</a>|</li>
				<li><a href="http://about.ussailing.org/Contact_Us.htm">Contact Us</a></li>
			</ul>
	  </div>
		
	</div>
	
	<div id="nav" class="clear">
		<ul>
			<li><a href="/">Home</a></li>
			<li> &nbsp; &nbsp; &nbsp; &nbsp;</li>
      <li><a href="http://results.usteamracing.com/">Results</a></li>
      <li> &nbsp; &nbsp; &nbsp; &nbsp;</li>
			<li><a href="/travel">Travel</a></li>
		</ul>
	</div>
	
	<div id="hero"><img src="images/JBMooney---960x225.jpg" />
	</div>
	
	<div id="contentarea" class="clear">
	
		<div id="column">
			
			<div id="subnav" class="clear">
		
			</div>	
			
			<span id="leftnav">
        		<% yield_content :left_nav %>

				<div style="padding:20px 0px 0px 40px;">
				<img src="images/SYCBurgeeTransp.png"/><br/><br/>
				<a href="http://www.seattleyachtclub.org" target="blank">Seattle Yacht Club</a><br/>
				September 30 - <br/>October 3, 2010
				</div>
			</span>
		
		</div>

		<div id="content">
      <%= yield %>
		</div>	
	
	</div>
	
	<div id="footer">
	  	<div id="footerlinks">
        	<ul>
				<li>
					<div align="center"><a title="About Us" href="http://about.ussailing.org/About_Us.htm">About Us</a> |</div></li>
				<li>
					<div align="center"><a title="Sitemap" href="http://home.ussailing.org/Sitemap.htm">Sitemap</a> |</div></li>
				<li>
					<div align="center"><a title="History" href="http://about.ussailing.org/History.htm">History</a> |</div></li>
				<li>
					<div align="center"><a title="Bylaws" href="http://about.ussailing.org/Bylaws.htm">Bylaws</a> |</div></li>
				<li>
					<div align="center"><a title="US SAILING Directory" href="http://about.ussailing.org/Directory.htm">US SAILING Directory</a> |</div></li>
				<li>
					<div align="center"><a title="US SAILING Financials" href="http://about.ussailing.org/US_SAILING_Financials.htm">Financials</a> |</div></li>
				<li>
					<div align="center"><a title="Sailor Athlete Council" href="http://about.ussailing.org/Directory/Councils/Sailor_Athlete_Council.htm">Sailor Athlete Council</a> |</div></li>
				<li>
					<div align="center"><a title="Awards" href="http://about.ussailing.org/Awards.htm">Awards</a> |</div></li>
				<li>
					<div align="center">
						<div align="left"><a title="Contact Us" href="http://about.ussailing.org/Contact_Us.htm">Contact Us</a> |</div></div></li>
				<li>
					<div align="center">
						<div align="left">
							<a title="Old Homepage" href="http://www.ussailing.org/index_old.asp" target="_blank">Old Homepage</a>
						</div>
					</div></li>
			</ul>
	  </div>
	  
	<div id="copywrite">
		<p align="center">US SAILING is a 501(c) 3 organization<br />
		<a title="Copyright Notice" href="/Page1646.aspx">Copyright and Disclaimer </a><br />
		2009, United States Sailing Association, <a title="Privacy Policy" href="/Page1656.aspx">Privacy Policy</a><br />
		<a href="mailto:webmaster@ussailing.org">webmaster@ussailing.org</a></p>
	</div>
</div>
	
	<div id="SponsorLogos">
		<a href="http://drycreekvineyard.com/" target="_blank"><img src="images/DryCreek.jpg" style="padding-right:60px;" border="none"/></a>
		<a href="http://www.laserperformance.com/" target="_blank"><img src="images/LaserPerformance.jpg" style="padding-right:60px;" border="none"/>
		<a href="http://www.rolex.com/" target="_blank"><img src="images/Rolex.jpg" style="padding-right:60px;" border="none">
			<a href="http://www.gillna.com/" target="_blank"><img src="images/Gill.jpg" border="none">
	</div>
	
	
</div>

<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-12640078-2");
pageTracker._trackPageview();
} catch(err) {}
</script>

<% yield_content :javascript %>
</body>
</html>
