<% content_for :left_nav do %>
<ul>
	<li><a href="/schedule">Schedule</li>
	<li><a href="/meals">Meals</li>
</ul>
<% end %>
<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/></div>
	
	
	<strong><h3>Meals</h3></strong><br/>
	
	<strong><h4>Breakfast</h4></strong>
	A continental breakfast (bagels, fruit, etc) will be served at the CWB Friday - Sunday. 
	<br/><strong><h4>Lunch</h4></strong>
	Lunch will be the responsibility of each competitor. Many lunch options are listed below. They are walking distance or a short trolley ride from the racing venue/event hotel. Drinking water will be provided for all competitors throughout the event. <br/> <br/>
	
	<strong>Grand Central Baking</strong><br/>
	616 Eastlake Ave E <br/>
	206.957.9505<br/>
	Sandwiches and Coffee
	<br/><br/>
	<strong>Louisa's Cafe and Bakery</strong><br/>
	2379 Eastlake Ave E 
	<br/>(206) 325-0081<br/>
	Sit down or take out, sandwiches salads and baked goods
	<br/><br/>
	<strong>Quick Stop Grocery and Deli</strong>
	<br/>2352 Eastlake Ave E
	<br/>(206) 323-0010
	<br/>Best deli sandwiches in Seattle
	<br/><br/>
	<strong>Whole Foods</strong><br/>
	2210 Westlake Ave
	<br/>206.621.9700
	<br/>A bit if everything
	
	<br/><strong><h4>Post Sailing</h4></strong>
	Appetizers and drinks will be provided following each day of racing. 
	<br/><strong><h4>Dinner</h4></strong>
	The LaserPerformance sponsored dinner will be held Friday night at Rock Salt Restaurant. Rock Salt is a short walk from the racing venue. 
	<br/><strong><h4>Awards Presentation</h4></strong>
	Chili and vegetables will be served Sunday following racing at Seattle Yacht Club. Yacht club casual attire is appropriate.
	
	<br/><strong><h4>Guest Meals</h4></strong>
	Guests may order meal tickets individually at registration. Please <a href="mailto:hinman2010@gmail.com">contact us</a> in advance so that we know your guest will be coming and can update our meal count as necessary. 

	
