<% content_for :left_nav do %>
<ul>
	<li><a href="/travel">Travel Home</li>
		<li><a href="/hotels">Hotels</li>
	<li><a href="/parking">Parking</li>
</ul>
<% end %>

	<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/>
</div>	
		<strong><h3>Parking</h3></strong><br/><br/>
		Vehicle parking is limited at the CWB. On-street (free and paid) and paid commercial lot parking is available throughout the neighborhood. There is a large commercial lot directly across the street from the CWB where you can park for $10/day. More information is available <a href="http://www.cwb.org/content/visit-cwb-south-lake-union" target="_blank">here</a>.<br/>