<% content_for :left_nav do %>

<% end %>

	<strong><h3>Schedule</h3></strong><br/>
	
	<strong><h4>Thursday, 30 September</h4></strong>
	<table class="padded">
		<tr>
			<td>1200-1900</td>
			<td>Competitor Check-in and Weigh-in</td> 
		</tr>
		<tr>
			<td>1200-1900</td>
			<td>Competitor Practice</td> 
		</tr>
		<tr>
			<td>1700-1830</td>
			<td>Welcome Party with <i><a href="http://www.widmer.com/beer_drifter.aspx" target="_blank">Drifter Ale</a></i></td>
		</tr>
	</table>
	<br/>
	
	<strong><h4>Friday, 1 October</h4></strong>
	<table class="padded">
		<tr>
			<td>0730-0830</td>
			<td>Competitor Check-in and Weigh-in</td> 
		</tr>
		<tr>
			<td>0730-0830</td>
			<td><i><a href="http://www.haggen.com/" target="_blank">Haggen Foods</a></i> Breakfast</td> 
		</tr>
		<tr>
			<td>0830</td>
			<td>Competitors' Briefing</td>
		</tr>
		<tr>
			<td>1000</td>
			<td>First Warning Signal</td>
		</tr>
		<tr>
			<td>After Racing</td>
			<td>Umpire/Competitor Debriefing with <i><a href="http://www.widmer.com/beer_drifter.aspx" target="_blank">Drifter Ale</a></i> and <i><a href="http://www.drycreekvineyard.com" target="_blank">Dry Creek</a></i> wines</td>
		</tr>
		<tr>
			<td>1930</td>
			<td><i><a href="http://laserperformance.com/" target="_blank">LaserPerformance</a></i> regatta dinner at Rock Salt Restaurant (walking distance)</td>
		</tr>
	</table>
	<br/>
	
	<strong><h4>Saturday, 2 October</h4></strong>
	<table class="padded">

		<tr>
			<td>0800-0900</td>
			<td><i><a href="http://www.haggen.com/" target="_blank">Haggen Foods</a></i> Breakfast</td> 
		</tr>
		<tr>
			<td>0900</td>
			<td>Competitors' Briefing</td>
		</tr>
		<tr>
			<td>1000</td>
			<td>First Warning Signal</td>
		</tr>
		<tr>
			<td>After Racing</td>
			<td>Umpire/Competitor Debriefing with <i><a href="http://www.outback.com/restaurant/locations/WA/Seattle/Lake-Union/Index.aspx" target="_blank">Outback Steakhouse</a></i> appetizers, <i><a href="http://www.widmer.com/beer_drifter.aspx" target="_blank">Drifter Ale</a></i> and <i><a href="http://www.drycreekvineyard.com" target="_blank">Dry Creek</a></i> wines</td>
		</tr>
	</table>
	<br/>
	
	<strong><h4>Sunday, 3 October</h4></strong>
	<table class="padded">

		<tr>
			<td>0800-0900</td>
			<td><i><a href="http://www.haggen.com/" target="_blank">Haggen Foods</a></i> Breakfast</td> 
		</tr>
		<tr>
			<td>0900</td>
			<td>Competitors' Briefing</td>
		</tr>
		<tr>
			<td>1000</td>
			<td>First Warning Signal</td>
		</tr>
		<tr>
			<td>After Racing</td>
			<td>Truck Loading </td>
		</tr>
		<tr>
			<td></td>
			<td>Awards and Chili at Seattle Yacht Club </td>
		</tr>
	</table>
	
