<h3>Travel</h3>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Houston+Yacht+Club,+Miramar+Drive,+Shoreacres,+TX&amp;hl=en&amp;sll=29.617368,-95.001307&amp;sspn=0.00852,0.009515&amp;ie=UTF8&amp;view=map&amp;f=d&amp;daddr=3620+Miramar+Drive,+Shoreacres,+TX+77571&amp;geocode=CWAFDx4wRN1BFdjswwEdJWVW-iH92PvoD0QOgw&amp;source=embed&amp;ll=29.616446,-94.998779&amp;spn=0.835707,1.167297&amp;z=9&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=Houston+Yacht+Club,+Miramar+Drive,+Shoreacres,+TX&amp;hl=en&amp;sll=29.617368,-95.001307&amp;sspn=0.00852,0.009515&amp;ie=UTF8&amp;view=map&amp;f=d&amp;daddr=3620+Miramar+Drive,+Shoreacres,+TX+77571&amp;geocode=CWAFDx4wRN1BFdjswwEdJWVW-iH92PvoD0QOgw&amp;source=embed&amp;ll=29.616446,-94.998779&amp;spn=0.835707,1.167297&amp;z=9" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<h4>Airports:</h4>
<ul>
  <li><strong>George Bush Intercontinental Airport</strong> is approximately 45 miles north/northwest of the Houston Yacht Club and travel time is approximately 1 hour, depending on traffic.  All of the major car rental companies have facilities at the airport, and taxi/limo transportation is readily available. Driving directions are easily accessible via any online mapping program.</li>
  <li><strong>William P. Hobby Airport</strong> is approximately 25 miles west of the Houston Yacht Club and travel time is approximately 30 minutes.  Driving directions are easily accessible via any online mapping program. While Hobby is much closer, the airlines flying into this airport are somewhat limited and this airport may not be available to all competitors.</li>
</ul>
