<% content_for :left_nav do %>
<ul>
	<li><a href="/travel">Travel Home</li>
		<li><a href="/hotels">Hotels</li>
	<li><a href="/parking">Parking</li>
</ul>
<% end %>

<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/></div>

	<strong><h3>Travel</h3></strong><br/>
	
	<strong><h4>Arrival and Departure</h4></strong>
	The closest airport is Seattle-Tacoma International Airport. Arrival for all competitors will be on Thursday, September 30, 2010. Competitors should plan for a departure any time after 9pm Sunday October 3, 2010. 
	<br/><br/>
	<a href="http://www.shuttleexpress.com/" target="_blank">Shuttle Express</a> provides airport transportation as well. SYC has organized a group rate for those wanting to take Shuttle Express from SYC to SeaTac following the awards presentation on Sunday evening. 
	
	<br/><strong><h4>Transportation</h4></strong>
	It is possible to get to and from the airport with Seattle's new light rail for $4.50. From the airport follow the signs for the <a href="http://www.soundtransit.org/Riding-Sound-Transit/Schedules-and-Facilities/Central-Link-Light-Rail.xml" target="_blank">Link light rail</a> at the east end of SeaTac Airport. Take the train all the way to the end of the line at Westlake Center. This will cost $2.50. Take another street car that leaves from Westlake Center, called the <a href="http://www.seattlestreetcar.org/" target="_blank">South Lake Union Line</a>, to the Lake Union Park. This ride costs $2, and you will find yourself standing in front of the Center for Wooden Boats (regatta venue). The Courtyard Marriott (see <a href="/hotels">hotels</a>) is about 300 yards to the Northwest if you walk through the park and over the footbridge.<br/> 
	
	<br/><strong><h4>The Venues</h4></strong>
	The Championship is hosted by Seattle Yacht Club (SYC), but will be raced out of the Center for Wooden Boats (CWB), located on the south end of Seattle’s Lake Union. Competitors will register and race at the CWB. The awards dinner will be at SYC.<br/><br/>
	<strong>CENTER FOR WOODEN BOATS </strong>
	<br/>1010 Valley St 
	<br/>Seattle, WA 98109 
	<br/>(206) 382-2628 
	<br/><a href="http://www.cwb.org/">www.cwb.org</a>
	<br/><br/>
<strong>	SEATTLE YACHT CLUB </strong>
	<br/>1807 E Hamlin Street 
	<br/>Seattle, WA 98112 
	<br/>(206)325-1000 
	<br/><a href="http://www.seattleyachtclub.org">www.seattleyachtclub.org</a> <br/>
	
	