<% content_for :left_nav do %>
<ul>
	<li><a href="/travel">Travel Home</li>
		<li><a href="/hotels">Hotels</li>
</ul>
<% end %>

<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/>
	</div>
	<strong><h3>Travel</h3></strong><br/>
	
	<strong><h4>Arrival and Departure</h4></strong>
	The closest airport is Seattle-Tacoma International Airport. Arrival for all competitors will be on Thursday, September 30, 2010. Competitors should plan for a departure any time after 9pm Sunday October 3, 2010. 
	<br/><br/>
	<a href="http://www.shuttleexpress.com/" target="_blank">Shuttle Express</a> provides airport transportation as well. SYC has organized a group rate for those wanting to take Shuttle Express from SYC to SeaTac following the awards presentation on Sunday evening. 
	
	<br/><strong><h4>Transportation</h4></strong>
	Travelers can take the <a href="http://www.soundtransit.org/Riding-Sound-Transit/Schedules-and-Facilities/Central-Link-Light-Rail.xml" target="_blank">Link Light Rail</a> from SeaTac to the Westlake Station and then transfer to the <a href="http://www.seattlestreetcar.org/map/" target="_blank">Seattle Streetcar</a> which takes you directly to the sailing venue and Marriott hotel (see <a href="/hotels">hotels</a>). This public transportation option allows you to come to the event and avoid renting a car.  <br/>
	
	<br/><strong><h4>The Venues</h4></strong>
	The Championship is hosted by Seattle Yacht Club (SYC), but will be raced out of the Center for Wooden Boats (CWB), located on the south end of Seattle’s Lake Union. Competitors will register and race at the CWB. The awards dinner will be at SYC.<br/><br/>
	<strong>CENTER FOR WOODEN BOATS </strong>
	<br/>1010 Valley St 
	<br/>Seattle, WA 98109 
	<br/>(206) 382-2628 
	<br/><a href="http://www.cwb.org/">www.cwb.org</a>
	<br/><br/>
<strong>	SEATTLE YACHT CLUB </strong>
	<br/>1807 E Hamlin Street 
	<br/>Seattle, WA 98112 
	<br/>(206)325-1000 
	<br/><a href="http://www.seattleyachtclub.org">www.seattleyachtclub.org</a> <br/>
	
	