<% content_for :left_nav do %>
<ul>
	<li><a href="http://championships.ussailing.org/Assets/Championships/USTRC/2010/2010NOR.pdf" target="_blank">NOR</a></li>
	<li><a href="https://www.regattanetwork.com/clubmgmt/applet_registration_form.php?regatta_id=2969" target="_blank">Event Application</a></li>
	<li><a href="/venue">The venue</a></li>
	<li><a href="/boatsales">Event boat sales</a></li>
</ul>
<div style="padding:20px 0px 0px 40px;">
<img src="images/SYCBurgeeTransp.png"/><br/><br/>
<a href="http://www.seattleyachtclub.org" target="blank">Seattle Yacht Club</a><br/>
September 30 - <br/>October 3, 2010
</div>
<% end %>

<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/>
	</div>
	<strong><h3>The Venue</h3></strong><br/><br/>
	Founded in 1892, <a href="http://www.seattleyachtclub.org/default.aspx?p=DynamicModule&amp;pageid=286506&amp;ssid=166318&amp;vnf=1" target="_blank">Seattle Yacht Club (SYC)</a> is located on Portage Bay, just off of Lake Washington in the center of Seattle. 
	<br/><br/><strong>Racing Venue</strong><br/>
	The event will be raced at the south end of Lake Union out of the <a href="http://www.cwb.org/" target="_blank">Center for Wooden Boats</a>. The race course is in the shadow of Seattle's Space Needle and is just minutes from SYC. Lake Union is just shy of 2 miles long and .75 miles wide. The lake is oriented north and south, the same as the two most common Seattle wind directions. <br/> <br/> <br/>
	<!--><div id="map_canvas" style="width: 500px; height: 300px"></div>-->
<iframe width="425" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113117169427697418077.000486ec5142850211a56&amp;ll=47.639601,-122.327099&amp;spn=0.057832,0.072956&amp;z=13&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113117169427697418077.000486ec5142850211a56&amp;ll=47.639601,-122.327099&amp;spn=0.057832,0.072956&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">US Team Racing Champs 2010</a> in a larger map</small>