<% content_for :left_nav do %>
<ul>
	<li><a href="http://live.usteamracing.com/">Results</li>
</ul>
<% end %>
<div style="float:right; clear:none; padding-right:0px;"><img src="images/HinmanLogoRevised.gif"/></div>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="251" id="utv960223"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=5758334&amp;locale=en_US"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/5758334?v3=1"/><embed flashvars="autoplay=false&amp;brand=embed&amp;cid=5758334&amp;locale=en_US" width="400" height="251" allowfullscreen="true" allowscriptaccess="always" id="utv960223" name="utv_n_512404" src="http://www.ustream.tv/flash/live/1/5758334?v3=1" type="application/x-shockwave-flash" /></object>
