<h3>Weather</h3>

Historically for the last week of September and the first week of October, high temperatures during the day are in the high 80s to mid 90s, with low temperatures ranging in the mid 60s to mid 70s.  While the average wind is about 4 knots, afternoon winds tend to range between a 10 and 12 knots.  Humidity is high, averaging about 75%, although last year was very pleasant with 59% humidity.

<h4>Helpful Links:</h4>
<ul>
  <li><a href="http://www.wunderground.com/history/airport/KEFD/2010/9/29/WeeklyHistory.html?req_city=NA&req_state=NA&req_statename=NA">Historical Weather Data</a></li>
  <li><a href="http://houstonyachtclub.com/weather.html">Houston Yacht Club Weather Station</a></li>
</ul>
