body{margin:0;background: #ffffff;color:#666666}
body,td,th,input,select,textarea,input {font-family: Arial, Helvetica, sans-serif;}
body,td,th,input,select,textarea,input {font-size:12px;}
p{margin:0 0 1.5em 0;}
form{padding:0;margin:0}
a img{border:none;}
a:focus{outline: none;}
a{color:#666666;}
a:hover{color:#728FAF;}


/*from Jen*/
.padded {cellpadding:2px 0px 2px 0px;}
.padded td {padding-left:6px;}

#SponsorLogos2 {
  position: relative;
  width: 700px;
  margin-bottom: 5px;
  margin-top:50px;
  float: center;
  margin-right: auto;
  margin-left: auto;
  text-align:right;
}

#SponsorLogos2 img {
  padding-right: 30px;
}

.clear:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;} .clear {display: inline-block;} /* Hides from IE-mac \*/ * html .clear {height: 1%;} .clear {display: block;} /* End hide from IE-mac */ 

#wrapper{width:960px;margin:10px auto 0 auto}

#header{position:relative;padding:0 0 20px 0}

#logo{padding: 20px 0 0 0;}

#headerlinks{
  position:absolute;
  top:10px;
  right:0;
  color:#dfdfdf;
  width: 700px;
  text-align: right;
}
#headerlinks ul{margin:0;padding:0;list-style:none;}
#headerlinks ul li{margin:0;padding:0;float:left;}
#headerlinks ul li a{color:#000;text-decoration:none;padding:0 7px}
#headerlinks ul li a:hover{color:#728FAF;}

#search{position:absolute;top:60px;right:0}
#search form, #search div{display:inline;}
#search label{font-size:12px;font-weight:bold;color:#000;padding:0 5px 0 0}
#search .ipf-PageSearch-TextField{width:200px;font-size:13px;vertical-align:middle;border:1px solid #abadb3}
#search .ipf-PageSearch-Button{background:#281d59;color:#fff;vertical-align:middle;font-size:10px;padding:1px 0;text-align:center;border:1px solid #abadb3}

#pic {
  font-family:"Trebuchet MS";
  color:#999999;
  color(hover):#CCCCCC;	font-size:12px;
  width: 234px;
  margin-bottom: 10px;
  float: left;
  margin-right: 14px;
  margin-top: 5px;
}

#pic1 {
  font-family:"Trebuchet MS";
  color:#999999;
  color(hover):#CCCCCC;	font-size:12px;
  width: 234px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
  margin-right: 14px;
}

#pic2 {
  font-family:"Trebuchet MS";
  color:#999999;
  color(hover):#CCCCCC;	font-size:12px;
  width: 225px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
  margin-right: 14px;
}

#pic3 {
  font-family:"Trebuchet MS";
  color:#999999;
  color(hover):#CCCCCC;	font-size:12px;
  width: 225px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
}


#nav{
  color:#fff;
  padding:7px 10px;
  font-weight:bold;
  position:relative;
  z-index:2;
  text-align:left;
  background-color: #1E3062;
}
#nav ul{
  padding: 10;
  list-style: none;
  list-style-image:none;
  line-height: 1;
  margin-top: 0;
  margin-right: 10;
  margin-bottom: 0;
  margin-left: 0;
}
#nav ul li{
  display:inline;
  list-style: none;
  list-style-image:none;
  margin-top: 0;
  margin-right: 5;
  margin-bottom: 0;
  margin-left: 0;
}
#nav ul li div{display:inline;}
#nav ul li a{color:#fff;text-decoration:none;}
#nav ul li a:hover{color:#728FAF;}
#nav ul li a:visited {color:#fff;}

/* Level 1 */
#nav ul li div a {padding:0 10px}

/* Level 2 */
#nav ul li ul{display:none;margin:0;position: absolute;background: #a5a3a4;width: 180px;border-top:1px solid #000000;border-left:1px solid #000000;border-right:1px solid #000000;left: -999em;}
#nav ul li ul li a{color:#fff;border-bottom:1px solid #ffffff;width:160px;padding:6px 10px;text-indent:0;}
#nav ul li ul li a:hover{background: #fff;color:#666666}
#nav ul li ul li a:visited {color:#fff;}


/* Level 3 */
#nav ul li ul li ul {margin: -26px 0 0 180px;}
#nav ul li ul li ul li a{background:none !important;}
#nav ul li ul li ul li a:hover{background: #fff !important;}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left: -999em;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {left: auto;}
#nav li:hover, #nav li.hover {position: static;}


#nav ul li#pageid237,
#nav ul li#pageid238,
#nav ul li#pageid239,
#nav ul li#pageid240,
#nav ul li ul
{display:none;}


#hero{clear:both;position:relative;z-index:1}
.level1 #hero{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0;
}


#contentarea{clear:both;background: url(../images/contentarea-bg.gif) top left repeat-y}
.level1 #contentarea{background:none;}
.level3 #contentarea{background:none;}
.widetemplate #contentarea{background:none;}

#column{
  float:left;
  width:186px;
}

#right {
  float:right;
  width:160px;
  font-family:arial;
  color:#333333;
  font-size:11px;
}


.level2 #right{float:right;
  width:160px;
  font-family:arial;
  color:#000066;
  font-size:11px;}

#content{}
.level2 #content{
  float:left;
  width:753px;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}
.level2 #content1{
  float:left;
  width:550px;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}

.level3 #content{
  float:left;
  width:900px;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 50px;
}



.level2 #right{
  float:right;
  width:200px;
  font-family:arial;
  color:#000066;
  font-size:11px;
  margin-bottom: 10px;
  margin-top: 10px;
}


#homecontent{width:100%;border-collapse:collapse;}
#homecontent td{width:25%;vertical-align:top;text-align:center;font-family:"Trebuchet MS";font-size:12px;padding:0 0 5px 0}

#path{margin:0 0 10px 0;font-size:11px;}

h1#pagetitle{
  font-size:20px;
  color:#000000;
  line-height:1.2em;
  font-weight:bold;
  margin:0 0 20px 0;
}

.pageletbox{float:right;width:200px;margin:0 0 10px 15px;background: url(../images/championships/roundedpageletbox-bg.gif) top left no-repeat;padding:10px 0 0 0;}
.pageletbox-content{background: url(../images/championships/roundedpageletbox-bg.gif) bottom left no-repeat;padding:0 15px 10px 15px;overflow:hidden}

.pageletbox1{
  float:right;
  width:200px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.pageletbox-content1{
  padding:0 15px 10px 15px;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position: left bottom;
}

#footer{
  color:#fff;
  font-family:tahoma;
  font-size:10px;
  clear:both;
  background-color: #1E3062;
  height: 70px;
  margin-top: 1px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#footer a{color:#cccccc;}
#footer a:hover{color:#999999}

#SponsorLogos {
  position: relative;
  width: 960px;
  margin-bottom: 5px;
  float: center;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

#footerlinks {
  position: relative;
  width: 700px;
  margin-bottom: 5px;
  float: right;
  margin-right: 65px;
  margin-left: auto;
}


#footerlinks ul {
  margin:2px;padding:0;list-style:none
}

#footerlinks ul li {
  margin:0;padding:2px;float:left}

#footerlinks ul li a{color:#FFFFFF}
#footerlinks ul li a:hover{color:#728FAF}

#copywrite {
  position: relative;
  width: 600px;
  margin-bottom: 15px;
  float: right;
  margin-right: 110px;
  margin-left: auto;
}		

#leftnav
{padding-left:20px;}

#leftnav ul li {padding-top:4px;}
