body{margin:0;background: #ffffff;color:#666666}
body,td,th,input,select,textarea,input {font-family: Arial, Helvetica, sans-serif;}
body,td,th,input,select,textarea,input {font-size:11px;}
p{margin:0 0 1.5em 0;}
form{padding:0;margin:0}
a img{border:none;}
a:focus{outline: none;}
a{color:#666666;}
a:hover{color:#728FAF;}


.pageletbox{float:right;width:200px;margin:0 0 10px 15px;background: url(../images/championships/roundedpageletbox-bg.gif) top left no-repeat;padding:10px 0 0 0;}
	.pageletbox-content{background: url(../images/championships/roundedpageletbox-bg.gif) bottom left no-repeat;padding:0 15px 10px 15px;overflow:hidden}